:root {
    --red-dark-color: #4d1f08;
    --bg-input: #e3e3e3;
    --text-color: #a32018;
    --hover-color: #ff9a00;
    --fz: 14px;
}

.container {
    max-width: 1200px;
}

.header-main .nav>li>a {
    color: #4d1f08;
}

.nav-dark .nav>li.active>a {
    color: #ff9a00;
}

.searchform-wrapper form {
    width: 320px;
    height: 36px;
    background: #e3e3e3;
    padding: 0 12px;
    align-items: center;
    border-radius: 35px;
    position: relative;
}

input[type=search].search-field, .nav-dark .form-flat input:not([type=submit]) {
    background: none !important;
    border: none;
    width: 100%;
    box-shadow: none;
    color: #333 !important;
}

.searchform .button.icon i {
    font-size: 18px;
    cursor: pointer;
    color: #a32018;
    right: -14px;
}

input[type=search].search-field, .nav-dark .form-flat input:not([type=submit])::placeholder {
    color: #333;

}